:root{
    --main-color:#ff0066;
    --white:white/* rgb(0,0,0) */;
    --shadow1:#e6e6e6;/*rgb(0,0,0);*/
    --shadow2:#c2c2c2;/* rgb(0,0,0); */
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: sans-serif;
    outline: none;
}
html{
    background-color:var(--white);
    
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    height: 500px;
    width: 800px;
}
.userForm{

    height: 550px;
    width: 400px;
    background-color: var(--white);  
    transition: 5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0px;
    background: linear-gradient(225deg, var(--shadow1), var(--white));
    box-shadow:  -5px 5px 10px var(--shadow2),
             5px -5px 10px var(--white);
}
.sliderForm{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 5s;
    height: 550px;
    width: 400px; 
    background-color: var(--white);
    background: linear-gradient(145deg, var(--shadow1), var(--white));
    box-shadow:  -5px 5px 10px var(--shadow2),
             -5px -5px 10px var(--white);
}
.formImage{
    position: relative;
    width: 15rem;

}
#signinForm{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height:450px;
}
#signupForm{
    margin-top: -50px;
    font-size: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height:450px;
}
.activelogin{
    animation: loginslide 4s linear;
    margin-left:-800px
}
.activeslide{
    z-index: 1;
    margin-left: 400px;
    animation: slideslide 4s linear;
}
.reverselogin{
    margin-left: 0px;
    animation: reverselogin 4s linear;
}
.reverseslide{
    animation: reverseslide 4s linear;
    z-index: 1;
}

.formText{
    background-color: #ff0066;
    font-weight: 600;
    color: var(--white);
    padding:5px 20px;
    font-size:28px ;
}
.formText:hover{
    padding: 4px 20px;
    letter-spacing:1px;
    background-color: var(--white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.nameField{
    width: 100%;
    font-size:15px;
    padding: 5px;
    border: 1px solid white;
    box-shadow: black;
    color:gray;
    border-radius: 25px;
background: linear-gradient(145deg, var(--shadow1), var(--white));
box-shadow:  5px 5px 10px var(--shadow2),
             -5px -5px 10px var(--white);
    padding-left: 20px;
    margin-top: 25px;
}
.emailField{
    width: 100%;
    font-size:15px;
    padding: 5px;
    border: 1px solid white;
    box-shadow: black;
    color:gray;
    border-radius: 25px;
background: linear-gradient(145deg, var(--shadow1), var(--white));
box-shadow:  5px 5px 10px var(--shadow2),
             -5px -5px 10px var(--white);
    padding-left: 20px;
    margin-top: 20px;
}
.passwordField{
    width: 100%;
    font-size:15px;
    padding: 5px;
    border: 1px solid white;
    box-shadow: black;
    color:gray;
    border-radius: 25px;
background: linear-gradient(145deg, var(--shadow1), var(--white));
box-shadow:  5px 5px 10px var(--shadow2),
             -5px -5px 10px var(--white);
    padding-left: 20px;
    margin-top: 20px;

}
.nameField:hover,.passwordField:hover,.emailField:hover{
    color:var(--main-color)
}
.btns{
    display: flex;
    flex-direction: column;
}
.signin{
    margin-top: 20px;
}
button{
    margin-top: 10px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--white);
    padding: 5px 18px;
    font-size: 16px;
    border-radius:50px;
    
}
button:hover{
    color:var(--main-color);
    background-color: var(--white);
    line-height: 20px;
}
.sliderText{
    font-family: sans-serif;
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--white);
    padding:5px 20px;
    font-size: 30px;
    margin-top: 20px;
    border: 1px solid var(--main-color);
}
.sliderText:hover{
    letter-spacing: 1px;
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}
.credits{
    position: relative;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: flex-end;
    color: grey;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    
}
.typerEffect{
    margin-left: -50% translate(50%);
    height: 30px;
    background-color: white;
    border-left: 5px solid var(--main-color);
    animation:typing 8s linear infinite;
    z-index:1;
    overflow: hidden;
}
.credits p{ 
    color: var(--main-color);
}
/* border-radius: 0px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -5px 5px 10px #c2c2c2,
             5px -5px 10px #ffffff; */
@media (max-width:575px){
    .container{
        width: 100vw;
        align-items: center;
    }
    .userForm{
        height: 250px;
        width: 50%;
    }
    .sliderForm{
        height:250px;
        width: 50%;
    }
    .formImage{
        
        display: none;
    }
    #signinForm,#signupForm{
        width: 100%;
    }
    #signinForm input,#signupForm input{
        width: 80%;
        font-size: 10px;
    }
    #signinForm div button,#signupForm div button{
        padding: 2px 10px;
        font-size: 10px;
    }
    #signinForm h4,#signupForm h4{
        margin-top: 80px;
        font-size: 15px;
    }
    #signinForm h4:hover,#signupForm h4:hover{
        letter-spacing: 0px;
    }
    .sliderForm img{
        width: 100px;
        height: 120px;
    }
    .sliderText{
        font-size: 12px;
    }
    .btns{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .signup{
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        height: 18px;
    }
    .signin{
        margin-left: 20px;
        height: 18px;

    }
}
